OLD-UI/xml/testcase_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testcase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="problem_id" type="xs:string" />
        <xs:element name="input" type="xs:string" />
        <xs:element name="output" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
